# Python cache
__pycache__/
*.py[cod]
*$py.class

# Data files
*.arrow
*.parquet
*.json
*.jsonl
**/corpus/
corpus/

# Log files
*.log
*.tar
**/logs/
logs/

# slurm logs
*.err
*.out

# Virtual environments
.pixi
.venv/